# Data Warehousing Fundamentals

### Incremental Data Load

In [0]:
%sql
Create database sales_scd

In [0]:
%sql
CREATE OR REPLACE TABLE sales_scd.Orders (
    OrderID INT,
    OrderDate DATE,
    CustomerID INT,
    CustomerName VARCHAR(100),
    CustomerEmail VARCHAR(100),
    ProductID INT,
    ProductName VARCHAR(100),
    ProductCategory VARCHAR(50),
    RegionID INT,
    RegionName VARCHAR(50),
    Country VARCHAR(50),
    Quantity INT,
    UnitPrice DECIMAL(10,2),
    TotalAmount DECIMAL(10,2)
);

In [0]:
%sql
INSERT INTO sales_scd.Orders (OrderID, OrderDate, CustomerID, CustomerName, CustomerEmail, ProductID, ProductName, ProductCategory, RegionID, RegionName, Country, Quantity, UnitPrice, TotalAmount) 
VALUES 
(1, '2024-02-01', 101, 'Alice Johnson', 'alice@example.com', 201, 'Laptop', 'Electronics', 301, 'North America', 'USA', 2, 800.00, 1600.00),
(2, '2024-02-02', 102, 'Bob Smith', 'bob@example.com', 202, 'Smartphone', 'Electronics', 302, 'Europe', 'Germany', 1, 500.00, 500.00),
(3, '2024-02-03', 103, 'Charlie Brown', 'charlie@example.com', 203, 'Tablet', 'Electronics', 303, 'Asia', 'India', 3, 300.00, 900.00),
(4, '2024-02-04', 101, 'Alice Johnson', 'alice@example.com', 204, 'Headphones', 'Accessories', 301, 'North America', 'USA', 1, 150.00, 150.00),
(5, '2024-02-05', 104, 'David Lee', 'david@example.com', 205, 'Gaming Console', 'Electronics', 302, 'Europe', 'France', 1, 400.00, 400.00),
(6, '2024-02-06', 102, 'Bob Smith', 'bob@example.com', 206, 'Smartwatch', 'Electronics', 303, 'Asia', 'China', 2, 200.00, 400.00),
(7, '2024-02-07', 105, 'Eve Adams', 'eve@example.com', 201, 'Laptop', 'Electronics', 301, 'North America', 'Canada', 1, 800.00, 800.00),
(8, '2024-02-08', 106, 'Frank Miller', 'frank@example.com', 207, 'Monitor', 'Accessories', 302, 'Europe', 'Italy', 2, 250.00, 500.00),
(9, '2024-02-09', 107, 'Grace White', 'grace@example.com', 208, 'Keyboard', 'Accessories', 303, 'Asia', 'Japan', 3, 100.00, 300.00),
(10, '2024-02-10', 104, 'David Lee', 'david@example.com', 209, 'Mouse', 'Accessories', 301, 'North America', 'USA', 1, 50.00, 50.00);

In [0]:
INSERT INTO sales_scd.Orders (OrderID, OrderDate, CustomerID, CustomerName, CustomerEmail, ProductID, ProductName, ProductCategory, RegionID, RegionName, Country, Quantity, UnitPrice, TotalAmount) 
VALUES
(11, '2024-02-11', 108, 'Helen Carter', 'helen@example.com', 210, 'Camera', 'Electronics', 302, 'Europe', 'Spain', 1, 600.00, 600.00),
(12, '2024-02-12', 109, 'Ian Thomas', 'ian@example.com', 211, 'Charger', 'Accessories', 303, 'Asia', 'South Korea', 2, 30.00, 60.00),
(13, '2024-02-13', 110, 'Julia Green', 'julia@example.com', 212, 'Speaker', 'Accessories', 301, 'North America', 'Mexico', 1, 120.00, 120.00),
(14, '2024-02-14', 101, 'Alice Johnson', 'alice@example.com', 213, 'Router', 'Electronics', 302, 'Europe', 'Germany', 1, 90.00, 90.00),
(15, '2024-02-15', 111, 'Kevin Brooks', 'kevin@example.com', 214, 'Drone', 'Electronics', 303, 'Asia', 'India', 1, 1000.00, 1000.00)

In [0]:
Select * from sales_scd.Orders

### Data Warehousing

In [0]:
create database sales_dwh

#### Staging Layer

In [0]:
-- Initial Load
Create or Replace table sales_dwh.stg_sales
As
select * from sales_scd.orders
where OrderDate > '2024-02-10'

#### Transformation

In [0]:
CREATE OR REPLACE VIEW sales_dwh.trans_sales
AS 
SELECT * FROM sales_dwh.stg_sales where Quantity IS NOT NULL

In [0]:
SELECT * FROM sales_dwh.trans_sales

#### Core Layer

In [0]:
-- Initial Load
Create table sales_dwh.core_sales
AS
SELECT * FROM sales_dwh.trans_sales

Core layer display

In [0]:
Select * from sales_dwh.core_sales

In [0]:
-- Incremental Load 
CREATE OR REPLACE TABLE sales_dwh.core_sales (
    OrderID INT,
    OrderDate DATE,
    CustomerID INT,
    CustomerName VARCHAR(100),
    CustomerEmail VARCHAR(100),
    ProductID INT,
    ProductName VARCHAR(100),
    ProductCategory VARCHAR(50),
    RegionID INT,
    RegionName VARCHAR(50),
    Country VARCHAR(50),
    Quantity INT,
    UnitPrice DECIMAL(10,2),
    TotalAmount DECIMAL(10,2)
);

In [0]:
INSERT INTO sales_dwh.core_sales
SELECT * FROM sales_dwh.trans_sales

In [0]:
SELECT * FROM sales_dwh.core_sales